<header>
  <div class="container">
    <section>
      <div>
        <img src="assets/YouTube-Icon-Black.svg" />
        <app-search-bar></app-search-bar>
        <button
          (click)="this.optionsOn = !this.optionsOn"
          mat-raised-button color="primary"
          type="button"
        >
          <mat-icon>tune</mat-icon></button>
      </div>
      <app-sort-bar *ngIf="this.optionsOn"></app-sort-bar>
    </section>
    <section>
      <span>
        Your name
      </span>
      <mat-icon>
        account_box
      </mat-icon>
    </section>
  </div>
</header>

