header {
  width: 100%;
  background-color: #E5E5E5;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

section:first-of-type {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    align-items: center;
    margin: 10px 0;
    img {
      width: 75px;
    }
  }
}

section:last-of-type {
  display: flex;
  height: 70px;
  align-items: center;
  mat-icon {
    color: #3f51b5;
    font-size: 32px;
    line-height: 25px;
  }
  span {
    margin-right: 4px;
    line-height: 25px;
  }
}

button {
  line-height: 25px;
  padding-left: 0;
  padding-right: 0;
  min-width: 32px;
  margin-left: 10px;
}
